Repository moons-landing/TurretsLasersMore, pull requests merged in 2023-05, with the labels that each got.

#3 Apply post processing #2
  src/main/java/io/github/moonslanding/tlm/engine/SpritedGameObject.java
Labels: refactor

#5 Key blinding
  src/main/java/io/github/moonslanding/tlm/TLMGame.java
  src/main/java/io/github/moonslanding/tlm/engine/Game.java
  src/main/java/io/github/moonslanding/tlm/engine/GameScene.java
  src/main/java/io/github/moonslanding/tlm/engine/GameView.java
  src/main/java/io/github/moonslanding/tlm/engine/GameWorld.java
  src/main/java/io/github/moonslanding/tlm/engine/SpriteCache.java
  src/main/java/io/github/moonslanding/tlm/engine/SpritedGameObject.java
  src/main/java/io/github/moonslanding/tlm/engine/WrappedGraphic.java
Labels: engine

#6 0.2.0 Migration
  build.gradle
  src/main/java/io/github/moonslanding/tlm/TLMGame.java
  src/main/java/io/github/moonslanding/tlm/camera/FollowedGameView.java
  src/main/java/io/github/moonslanding/tlm/engine/Game.java
  src/main/java/io/github/moonslanding/tlm/engine/GameScene.java
  src/main/java/io/github/moonslanding/tlm/engine/GameView.java
  src/main/java/io/github/moonslanding/tlm/engine/GameWorld.java
  src/main/java/io/github/moonslanding/tlm/engine/SpritedGameObject.java
  src/main/java/io/github/moonslanding/tlm/engine/interfaces/IRenderable.java
Labels: engine, breaking

#8 re-open: We can rotate object laew. #7
  src/main/java/io/github/moonslanding/tlm/TLMGame.java
  src/main/java/io/github/moonslanding/tlm/engine/GameObject.java
  src/main/java/io/github/moonslanding/tlm/engine/GameView.java
  src/main/java/io/github/moonslanding/tlm/engine/SpritedGameObject.java
Labels: engine

#9 Base engine is basically usable
  build.gradle
  src/main/java/io/github/moonslanding/tlm/TLMGame.java
  src/main/java/io/github/moonslanding/tlm/camera/FollowedGameView.java
  src/main/java/io/github/moonslanding/tlm/engine/Game.java
  src/main/java/io/github/moonslanding/tlm/engine/GameObject.java
  src/main/java/io/github/moonslanding/tlm/engine/GameScene.java
  src/main/java/io/github/moonslanding/tlm/engine/GameView.java
  src/main/java/io/github/moonslanding/tlm/engine/GameWorld.java
  src/main/java/io/github/moonslanding/tlm/engine/Sprite.java
  src/main/java/io/github/moonslanding/tlm/engine/SpriteCache.java
  src/main/java/io/github/moonslanding/tlm/engine/SpritedGameObject.java
  src/main/java/io/github/moonslanding/tlm/engine/WrappedGraphic.java
  src/main/java/io/github/moonslanding/tlm/engine/interfaces/IRenderable.java
  src/main/resources/sprites/player_ship.png
Labels: engine
